hello/src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c86698dd-d1eb-4c5a-bae3-3e501dd946e1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="8479b784-d354-4310-8548-d658e3b05de2" >
		<http:listener doc:name="Listener" doc:id="fbc0d926-b327-42e0-974b-094f556dac46" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="55d7bb6b-606c-410a-996f-e25ea35f80f0" message="#[message]"/>
		<ee:transform doc:name="Transform Message" doc:id="768d9804-bbcc-480e-a52d-f029052502b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	message: "Hello Mulesoft " 
	

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="72b03b70-d722-4b48-8ad7-eafeda2574ad" message='"welcome back to mule"'/>
	</flow>
</mule>
